.best-services {
    background-color: #000;
    color: #fff;
}
.servicesHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
}

.servicesHeading h1 {
    font-size: 60px;
    width: 60%;
}
.servicesHeading p {
    font-size: 18px;
    width: 70%;
}
.best-services span{
    color: #fff;;
    padding: 0 40px;
}



.services-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 97%;
}
.serviceCard {
   flex: 1;              /* 🔥 equal width */
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}

.serviceCard:hover {
  transform: translateY(-8px);
}

.service-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 🔥 smooth gradient like image */
.overlay-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 20%,
    rgba(0, 0, 0, 0.4) 50%,
    transparent 100%
  );
}

.serviceOverlay {
  position: absolute;
  inset: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

/* number top */
.number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.9;
}

/* text */
.content h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.content p {
  font-size: 14px;
  opacity: 0.8;
}

/* arrow button */
.arrow-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

/* 🔥 default gradient */
.overlay-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.545),
    transparent
  );
  transition: 0.4s;
}

/* 🔥 HOVER = BLUE EFFECT */
.serviceCard:hover .overlay-gradient {
  background: linear-gradient(
    to top,
    rgba(37, 99, 235, 0.9),
    rgba(37, 99, 235, 0.5),
    transparent
  );
}
.serviceCard:hover .arrow-btn {
  background: #000;
}